body{
      background-color: #FDF6F0;
    }

  hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #A2B29F;
    border-width: 5px;
    width: 40%
  }
  h1{
color: #B4CFB0;

  }
  h2{
color: #B4CFB0;

  }
  h3{
  color: #B4CFB0;

    }
    h4{
    color: #B4CFB0;

      }
      h5{
      color: #B4CFB0;

        }
